@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="~/css/pages/datatables.css">


<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Tagihan Listrik</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">DataTable jQuery</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Group Tagihan</label>
                    <div class="col-sm-2">
                        <select class="form-control getTagihan" id="groupTagihan">
                            <option value="">Semua</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="form-group">
                        <!-- Button trigger for login form modal -->
                        <button type="button" id="tambahTagihan" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#inlineForm">
                            Tambah
                        </button>
                    </div>
                    <table class="table" id="tagihan">
                        <thead>
                            <tr>
                                <th>Group</th>
                                <th>Id Pelanggan</th>
                                <th>Nama</th>
                                <th>Admin</th>
                                <th>Admin Notta</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
    <!-- Basic Tables end -->

    <!--login form Modal -->
    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="">Data Pelanggan </h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <input type="hidden" class="form-control" id="idTagihan">
                        <label for="" class="col-sm-4 col-form-label">Group Tagihan</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="inputGroupTagihan">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Id Pelanggan</label>
                        <div class="col-sm-8">
                            <input type="text" placeholder="Id Pelanggan"
                                   class="form-control" id="idPelanggan">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="typeTagihan">
                                <option value="pln">PLN</option>
                                <option value="telkom">Telkom / Indihome</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Nama Pelanggan</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="nama_pelanggan" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Admin</label>
                        <div class="col-sm-8">
                            <input type="number" placeholder="Admin"
                                   class="form-control" id="admin">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Admin notta</label>
                        <div class="col-sm-8">
                            <input type="number" placeholder="Admin notta"
                                   class="form-control" id="adminNotta">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">Status</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" checked data-toggle="toggle" id="status">
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            @*<button type="button" class="btn btn-primary ml-1"
                                    data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Simpan</span>
                            </button>*@
                            <button type="button" class="btn btn-primary ml-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block saveData">Simpan</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/extensions/jquery/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="~/js/pages/datatables.js"></script>
<script src="~/js/tagihan/master.js?@DateTime.Now.ToString("dd-MM-yyyyhh:mm")"></script>