@{
    Layout = "_UserLayout";
}
<br />
<nav class="fixed flex flex-between top-0 left-1/2 -translate-x-1/2 w-full h-10 bg-blue-400 dark:bg-sky-900 max-w-md px-4 space-x-8 z-30">
    <div class="flex flex-col justify-center w-full items-center cursor-pointer hover:text-blue-400 col p-2">
        <strong>Beli @ViewBag.produk</strong>
    </div>
</nav>
<div class="w-full rounded-xl bg-blue-400 p-4 pb-2 shadow-md dark:bg-sky-900 transition duration-500 dark:shadow-gray-400 ">

    <label class="col-sm-2 col-form-label text-gray-700 drop-shadow-lg text-xs dark:text-gray-50 font-medium">@ViewBag.label</label>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dest" placeholder="085">
            <input type="text" value="@ViewBag.produk" id="produk" hidden>
        </div>

        <label class="col-sm-2 col-form-label text-gray-700 drop-shadow-lg text-xs dark:text-gray-50 font-medium" id="namaPln"></label>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-10">
            @if (ViewBag.produk == "token")
            {
                <button class="btn btn-success" id="cekPln">Cek No PLN</button>
            }
            <button class="btn btn-primary" id="cariProduk">Cari produk</button>
        </div>
    </div>
</div>

<br />

<div class="my-2 text-sm font-medium tracking-wider text-slate-700 dark:text-white">Riwayat Transaksi</div>
<div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>
    <div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>
    <div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>
    <div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>

<script src="~/mobile/js/transaksi.js"></script>