@{
    Layout = "_UserLayout";
}
<br />
<div class="w-full rounded-xl bg-blue-400 p-4 pb-2 shadow-md dark:bg-sky-900 transition duration-500 dark:shadow-gray-400 ">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-gray-700 drop-shadow-lg text-xs dark:text-gray-50 font-medium">No Hp</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dest" placeholder="085">
            <input type="text" value="@ViewBag.produk" id="produk" hidden>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" id="cariProduk">Cari produk</button>
        </div>
    </div>
</div>

<br />

<div class="my-2 text-sm font-medium tracking-wider text-slate-700 dark:text-white">Riwayat Transaksi</div>
<div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>
    <div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>
    <div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>
    <div class="card">
        <input type="text" class="form-control history" value="085647451640" readonly>
    </div>

<script src="~/mobile/js/transaksi.js"></script>