@{
    Layout = "_UserLayout";
}

<div>
    <br />
    <a href='@ViewBag.urlGoogle'> <button class="btn btn-danger">Login with Google</button></a>
</div>

<script>
    var url = window.location.href;
    hash = url.split('#')[1];

    if (hash) {
        var urlcallback = window.location.origin + "/auth/callBackSupabase?" + hash;
        console.log('redirect');
        console.log('urlcallback', urlcallback);
        alert(hash)
        window.location.replace(urlcallback);
    } else {
        console.log('belum login');
        // do something else
    }
</script>