@{
    Layout = "_UserLayout";
}
<style>

    .container {
        /*padding: 2px 16px;*/
    }

    .card-icon-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin-right:5px;
    }

    .card-icon-right p {
        text-align: center;
        margin-top: 25px;
        cursor: pointer;
    }
    .card {
        
    }
</style>

<nav class="fixed flex flex-between top-0 left-1/2 -translate-x-1/2 w-full h-10 bg-blue-400 dark:bg-sky-900 max-w-md px-4 space-x-8 z-30">
    <div class="flex flex-col justify-center w-full items-center cursor-pointer hover:text-blue-400 col p-2">
        <strong>Mutasi Saldo</strong>
    </div>
</nav>
<br />
<br />
<input type="number" value="0" id="form" hidden/>
<div id="dataMutasi">

</div>

<script src="~/mobile/js/mutasi.js"></script>